In [48]:
import pandas as pd

station = pd.read_csv('station.csv')
trip = pd.read_csv('trip.csv',error_bad_lines = False)
weather = pd.read_csv('weather.csv')

station.head(10)

b'Skipping line 50794: expected 12 fields, saw 20\n'

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16,NaN,16,NaN
2,BT-04,6th Ave & Blanchard St,47.616094,-122.341102,10/13/2014,16,NaN,16,NaN
3,BT-05,2nd Ave & Blanchard St,47.613110,-122.344208,10/13/2014,14,NaN,14,NaN
4,CBD-03,7th Ave & Union St,47.610731,-122.332447,10/13/2014,20,NaN,20,NaN
5,CBD-04,Union St & 4th Ave,47.609221,-122.335596,7/27/2015,18,NaN,18,NaN
6,CBD-05,1st Ave & Marion St,47.604058,-122.335800,10/13/2014,20,NaN,20,NaN
7,CBD-06,2nd Ave & Spring St,47.605950,-122.335768,10/13/2014,20,11/9/2015,18,NaN
8,CBD-07,City Hall / 4th Ave & James St,47.603509,-122.330409,10/13/2014,20,NaN,20,NaN
9,CBD-13,2nd Ave & Pine St,47.610185,-122.339641,10/13/2014,18,NaN,18,NaN

## What is the average trip duration for a borrowed bicycle?

In [31]:
trip['tripduration'].mean()

1178.2956753399776

## What’s the most common age of a bicycle-sharer?

In [32]:
most_common_years =trip['birthyear'].value_counts().idxmax()
most_common_age = 2020-most_common_years
int(most_common_age)

33

In [33]:
resp=weather['Month']=pd.DatetimeIndex(weather['Date']).month
resp

Int64Index([10, 10, 10, 10, 10, 10, 10, 10, 10, 10,
            ...
             8,  8,  8,  8,  8,  8,  8,  8,  8,  8],
           dtype='int64', name='Date', length=689)

## Given all the weather data here, find the average precipitation per month, and the median precipitation. What’s the average number of bikes at a given bike station?

In [34]:
each_Month=weather.groupby('Month')['Precipitation_In']
each_Month.mean()

Month
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64

In [35]:
each_Month.median()

Month
1     0.020
2     0.040
3     0.025
4     0.000
5     0.000
6     0.000
7     0.000
8     0.000
9     0.000
10    0.040
11    0.035
12    0.100
Name: Precipitation_In, dtype: float64

In [36]:
decommission_date = station[station['decommission_date'].isnull()]
decommission_date['current_dockcount'].mean()

17.74074074074074

## When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know? Come up with 3 more questions that can be answered with this data set.

In [37]:
station_is_modified = station[['modification_date','install_dockcount','current_dockcount']].dropna()
station_is_modified['current_dockcount'].sum() - station_is_modified['install_dockcount'].sum()

-64

##  min Humidity in days ?

In [44]:

weather['Max_Humidity'].min()

40

## total bikes

In [38]:
station_is_modified['current_dockcount'].sum()

234

## MIN NUMBER OF BIKES

In [41]:
station['current_dockcount'].min()

0