In [2]:
import pandas as pd

station = pd.read_csv('station.csv')
trip = pd.read_csv('trip.csv',error_bad_lines = False)
weather = pd.read_csv('weather.csv')

station.head(10)

/home/ashrf288/401/pandas/bike-stats/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16,NaN,16,NaN
2,BT-04,6th Ave & Blanchard St,47.616094,-122.341102,10/13/2014,16,NaN,16,NaN
3,BT-05,2nd Ave & Blanchard St,47.613110,-122.344208,10/13/2014,14,NaN,14,NaN
4,CBD-03,7th Ave & Union St,47.610731,-122.332447,10/13/2014,20,NaN,20,NaN
5,CBD-04,Union St & 4th Ave,47.609221,-122.335596,7/27/2015,18,NaN,18,NaN
6,CBD-05,1st Ave & Marion St,47.604058,-122.335800,10/13/2014,20,NaN,20,NaN
7,CBD-06,2nd Ave & Spring St,47.605950,-122.335768,10/13/2014,20,11/9/2015,18,NaN
8,CBD-07,City Hall / 4th Ave & James St,47.603509,-122.330409,10/13/2014,20,NaN,20,NaN
9,CBD-13,2nd Ave & Pine St,47.610185,-122.339641,10/13/2014,18,NaN,18,NaN

## What is the average trip duration for a borrowed bicycle?

In [3]:
averge_duration=trip['tripduration'].mean()
averge_duration

1178.2956753399776

## What’s the most common age of a bicycle-sharer?

In [11]:
most_common_years =trip['birthyear'].value_counts().idxmax()
most_common_age = 2020-most_common_years
common_age=int(most_common_age)
common_age

33

In [13]:
weather

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,8/27/2016,72,66.0,61,57,54,50,81,65,46,...,29.88,29.77,10,10,10,16,9,NaN,0.00,NaN
685,8/28/2016,75,68.0,59,54,52,50,80,65,44,...,30.06,30.01,10,10,10,12,9,NaN,0.00,NaN
686,8/29/2016,81,68.0,55,55,53,50,89,65,39,...,30.02,29.95,10,10,6,9,4,NaN,0.00,NaN
687,8/30/2016,70,64.0,57,55,53,52,83,69,53,...,30.01,29.97,10,10,10,14,9,18,0.00,NaN
688,8/31/2016,71,65.0,59,61,56,52,90,77,63,...,29.97,29.96,10,10,8,14,8,NaN,0.00,Rain

## Given all the weather data here, find the average precipitation per month, and the median precipitation. What’s the average number of bikes at a given bike station?

In [46]:
weather['Month']=pd.DatetimeIndex(weather['Date']).month
each_Month=weather.groupby('Month')['Precipitation_In']
meian_precipitaion=each_Month.mean()
meian_precipitaion.iloc[0]

0.1435483870967742

In [26]:
each_Month.median()

Month
1     0.020
2     0.040
3     0.025
4     0.000
5     0.000
6     0.000
7     0.000
8     0.000
9     0.000
10    0.040
11    0.035
12    0.100
Name: Precipitation_In, dtype: float64

## What’s the average number of bikes at a given bike station?

In [27]:
decommission_date = station[station['decommission_date'].isnull()]
decommission_date['current_dockcount'].mean()

17.74074074074074

## When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know? Come up with 3 more questions that can be answered with this data set.

In [28]:
station_is_modified = station[['modification_date','install_dockcount','current_dockcount']].dropna()
station_is_modified['current_dockcount'].sum() - station_is_modified['install_dockcount'].sum()

-64

##  min Humidity in days ?

In [37]:

minHumidity=weather['Max_Humidity'].min()
minHumidity

40

## total bikes

In [39]:
totelBikes=station_is_modified['current_dockcount'].sum()
totelBikes

234

## MIN NUMBER OF BIKES

In [41]:
minBikes=station['current_dockcount'].min()
minBikes

0

In [48]:
def assert_equal(actual,expected):
    assert actual == expected, f"Expected {expected} but got {actual}"
def test():
    assert_equal(averge_duration, 1178.2956753399776)
    assert_equal(common_age, 33)
    assert_equal(minHumidity, 40)
    assert_equal(meian_precipitaion.iloc[0], 0.1435483870967742)
    assert_equal(minBikes, 0)
    assert_equal(totelBikes, 234)


    print("Success!!!")

test()

Success!!!